<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

<div>
  <header>
    To-Do List
  </header>
</div>
<div>
  <input [(ngModel)]="newToDoItem" type="text" value=""  style="height: 50px; width: 500px;"/>
  <button (click)="submitNewItem()"   style="height: 50px; width: 500px;">Add my New To Do</button>
</div>
<div [hidden]="toDoItems.length==0" class="heading">
  <p>Action Items</p>
</div>
<div *ngFor="let x of toDoItems; let index = index;"   style="height: 80px;font-size:30px ">
  <div >{{x}}</div>
  <input (click)="deleteItem(index)" type="button" value="Delete" style="margin-left:10px">
  <input (click)="completeItem(x,index)" type="button" value="Completed" style="margin-left:10px">
  <hr>
</div>
<div [hidden]="completedItems.length==0" class="heading">
  <p>Completed Items</p>
</div>
<div *ngFor="let x of completedItems;"  style="height: 50px;font-size: 30px">
  <div class="strike">{{x}}</div>
  <hr>
</div>
</body>
</html>
